*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right , blue , purple);
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
   color: rgb(35, 35, 62);
   display: flex;
   align-items: center;
   margin-bottom:20px;
   font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(210, 210, 210);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    background-color:transparent;
    padding:10px;
    outline: none;
}

button{
    height: 40px;
    width: 20vh;
    border-radius: 40px; 
    background-color: rgb(255, 122, 74);
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: white;
    outline: none;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 9px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width:28px ;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #bababa;
}